/dts-v1/;
/plugin/;

/ {
    compatible = "allwinner,sun50i-h616";

    fragment@0 {
        target = <&spi1>;
        __overlay__ {
            status = "okay";
            pinctrl-names = "default";
            pinctrl-0 = <&spi1_pins>;

            #address-cells = <1>;
            #size-cells = <0>;

            display@0 {
                compatible = "sitronix,st7796";
                reg = <0>;
                spi-max-frequency = <32000000>;

                dc-gpios = <&pio 0 2 0>;
                reset-gpios = <&pio 0 0 0>;

                rotation = <90>;

                width-mm = <70>;
                height-mm = <50>;
            };
        };
    };

    fragment@1 {
        target-path = "/";
        __overlay__ {
            backlight: backlight {
                compatible = "gpio-backlight";
                gpios = <&pio 0 18 0>;
                default-on;
            };
        };
    };
};