probe --set root_fs_uuid --fs-uuid $root
# linux /kernel.img root=UUID=$root_fs_uuid rw quiet vt.global_cursor_default=0 init=/init.lua
linux /kernel.img root=UUID=$root_fs_uuid rw console=ttyS0,115200 vt.global_cursor_default=0 init=/init.lua
initrd /initramfs.img
boot
