[Unit]
Description=skyOS initialization
After=systemd-user-sessions.service

[Service]
User=root
ExecStart=/sky/system/skystart.sh
Restart=always
TTYPath=/dev/tty1
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=graphical.target

